# Vivado generated folders
karatsuba.cache/
karatsuba.gen/
karatsuba.hw/
karatsuba.ip_user_files/
karatsuba.runs/
karatsuba.sim/

# Design files
karatsuba.srcs/sources_1/new/kaExt.v


# Vivado waveform config files 
*.wcfg

# VSCode workspace settings
.vscode